<a href="https://colab.research.google.com/github/orlansx9/CYP_2021/blob/main/24_nov_ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
# ejercicio 1.1
PREPRO = 0
PAGO = 0
DEVO = 0
PREPRO = float (input("precio del producto "))
PAGO = float (input("pago del cliente "))
DEVO = (PAGO - PREPRO)
print(f" el cambio es de {DEVO}")

precio del producto 86.25
pago del cliente 100
 el cambio es de 13.75

In [52]:
#ejercicio 1.2
BASE = 0
ALTURA = 0
SUPERFICIE = 0
BASE = float (input("base del triangulo "))
ALTURA = float (input("altura del triangulo "))
SUPERFICIE = (BASE * ALTURA) / 2 
print(f"la superficie es {SUPERFICIE}")

base del triangulo 8.50
altura del triangulo 7.20
la superficie es30.6

In [33]:
# ejercicio 1.3
DINOSAURIO = 0
PESO = 0
LONGITUD = 0
DINOSAURIO =  (input ("NOMBRE DEL DINOSAURIO "))
PESO = int (input("peso del dinosaurio  en toneladas "))
PESO = PESO * 1000
LONGITUD = float (input("longitud del dinosaurio en pies "))
LONGITUD = LONGITUD * 0.3048
print(DINOSAURIO)
print (f"peso en kg {PESO}, longitud en metros {PESO}")

NOMBRE DEL DINOSAURIO chicha
peso del dinosaurio  en toneladas 10
longitud del dinosaurio en pies 100
chicha
peso en kg 10000, longitud en metros 10000

In [41]:
# ejercicio 1.4
LITROS = 0
GALONES = 0
TOTAL = 0
LITROS = float (input("ingresa litros "))
GALONES = LITROS * 3.785 * 8.20
print(f" total {GALONES}")

ingresa litros 10.38
 total 322.16406

In [43]:
# ejercicio 1.5
RADIO = 0
ALTURA = 0
AREA = 0
VOLUMEN = 0
RADIO = float (input("Ingresa el radio "))
ALTURA = float (input("Ingresa la altura "))
VOLUMEN = 3.141592 * (RADIO ** 2) * ALTURA
AREA = 2 * 3.141592 * RADIO * ALTURA
print(f" volumen {VOLUMEN}, area {AREA}")

Ingresa el radio45.22
Ingresa la altura11.60
 volumen 74519.32074597248, area 3295.856733568

In [48]:
#ejercicio 1.6
DIAS = 0
TOTAL = 0
DIAS = int (input("DIAS "))
TOTAL = DIAS * 24 * 60 * 60
print(f"En {DIAS} hay {TOTAL} segundos ")

DIAS 7
En 7 hay 604800 segundos