<a href="https://colab.research.google.com/github/orlansx9/CYP_2021/blob/main/tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#ejercicio 3.1
sueldo1 = int (input("ingrese sueldo del trabajador 1 "))
sueldo2 = int (input("ingrese sueldo del trabajador 2 "))
sueldo3 = int (input("ingrese sueldo del trabajador 3 "))
sueldo4 = int (input("ingrese sueldo del trabajador 4 "))
sueldo5 = int (input("ingrese sueldo del trabajador 5 "))
sueldo6 = int (input("ingrese sueldo del trabajador 6 "))
sueldo7 = int (input("ingrese sueldo del trabajador 7 "))
sueldo8 = int (input("ingrese sueldo del trabajador 8 "))
sueldo9 = int (input("ingrese sueldo del trabajador 9 "))
sueldo10 = int (input("ingrese sueldo del trabajador 10 "))
sueldo11 = int (input("ingrese sueldo del trabajador 11 "))
nomina = sueldo1 + sueldo2 + sueldo3 + sueldo4 + sueldo5 + sueldo6 + sueldo7 + sueldo8 + sueldo9 + sueldo10 + sueldo11
print(f"la nomina total es {nomina}")

ingrese sueldo del trabajador 1 0
ingrese sueldo del trabajador 2 1500
ingrese sueldo del trabajador 3 890
ingrese sueldo del trabajador 4 700
ingrese sueldo del trabajador 5 950
ingrese sueldo del trabajador 6 2300
ingrese sueldo del trabajador 7 1650
ingrese sueldo del trabajador 8 1800
ingrese sueldo del trabajador 9 1400
ingrese sueldo del trabajador 10 760
ingrese sueldo del trabajador 11 900
la nomina total es 12850

In [8]:
# ejercicio 3.4
montototal = 0
flag = 1.0
while flag > 0.0:
  aux = float (input("Monto "))
  montototal += (aux if aux >0.0 else 0.0)
  flag = aux
print(f" el total es {montototal}")

Monto 2528
Monto 3500
Monto 1600
Monto 1850
Monto 150
Monto -1
 el total es 9628.0